@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Spectral:wght@400&display=swap');

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #E4A461;
    color: white;
}

::-moz-selection {
    background-color: #E4A461;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    padding: 1%;
}
.AeM img {
    width: 100%; /* Ajuste o tamanho conforme necessário */
    max-width: 500px; /* Define um limite máximo de largura */
    height: auto; /* Garante a proporção da imagem */
}
body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    background-image: url('assets/bakground(1920 x 1080 px).png');
    background-size: cover;
    background-position: center;
    font-size: 1vw;
}

.versiculo {
    display: flex;
    justify-content: center;
    font-family: 'Merriweather', sans-serif;
    font-size: 1em;
    font-weight: 100;
    text-align: center;
    padding: 2%;
    color: #3D3D3D;
}

.familia {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    padding-bottom: 2%;
    font-family: 'Merriweather', sans-serif;
    font-size: 1em;
    font-weight: 100;
    color: #3D3D3D;
}

.paisAna,
.paisMatheus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cleide,
.paulo,
.libia,
.luciano {
    margin: 0;
    text-align: center;
}

.nome {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E4A461;
    padding-bottom: 2%;
    font-size: 1.5em;
}

.ana,
.matheus {
    margin: 0;
    font-family: 'Spectral', sans-serif;
    font-weight: 400;
}

.e {
    margin: 0;
    font-weight: 100;
}

.data {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: #E4A461;
    padding-bottom: 1%;
    font-size: 1.5em;
}

.setembro {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mes {
    font-size: 1.5em;
    margin-bottom: 14%;
}

#ano {
    font-size: 1.5em;
    margin-top: -1px;
}

#dia {
    font-size: 3em;
    margin-top: -15px;
}

.sabado,
.horas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

.saba,
.h,
.l {
    margin-bottom: 1%;
    font-family: 'Merriweather', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
}

.saba,
.h {
    border-top: 1px solid #E4A461;
    border-bottom: 1px solid #E4A461;
    width: 110px;
    text-align: center;
    margin-top: 35px;
}

.icones {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4%;
    color: #3D3D3D;;
}

.local,
.presenca,
.avisos,
.presentes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather', sans-serif;
    font-weight: 100;
    text-align: center;
    margin-bottom: 20px;
}

.icones img {
    width: 7vw;
}

@media only screen and (max-width: 1024px) {
    body {
        background-image: url('assets/bakground(1024 x 768 px).png');
        background-size: cover;
        background-position: center;
    }
    .icones {
        gap: 3%;
    }
    .icones img {
        width: 10vw;
    }
}

@media only screen and (max-width: 768px) {
    body {
        background-image: url('assets/bakground(768 x 1024 px).png');
        background-size: cover;
        background-position: center;
    }
    .familia {
        gap: 1.5%;
        font-size: 1em;
    }
    .icones img {
        width: 15vw;
    }
    .versiculo {
        font-size: 1em;
        padding: 3%;
    }
    .nome {
        font-size: 1.3em;
    }
    .data {
        font-size: 1.3em;
    }
    #mes,
    #ano {
        font-size: 1.3em;
    }
    #dia {
        font-size: 2.8em;
    }
    .saba,
    .h,
    .l {
        font-size: 1.3em;
    }
    .saba,
    .h {
        width: 100px;
    }
}

@media only screen and (max-width: 480px) {
    body {
        background-image: url('assets/bakground(412 x 915 px).png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: top;
    }
    .ana,
    .matheus {
        margin: 0;
        font-family: 'Spectral', sans-serif;
        font-weight: 400;
    }
    .familia {
        gap: 3%;
        font-size: 2.3em;
    }
    .icones img {
        width: 20vw;
    }
    .local,
    .presenca,
    .avisos,
    .presentes {
        font-size: 1.3em; /* Ajuste o tamanho da fonte conforme necessário */
    }
    .versiculo {
        font-size: 2.5em;
        padding: 4%;
    }
    .nome {
        font-size: 5em;
    }
    .data {
        font-size: 4em;
        gap: 1%;
    }
    #mes,
    #ano {
        font-size: 1em;
    }
    #dia {
        font-size: 2.5em;
    }
    .saba,
    .h,
    .l {
        font-size: 1.2em;
    }
    .saba,
    .h {
        width: 90px;
    }
}

@media only screen and (max-width: 320px) {
    .familia {
        gap: 0.5%;
        font-size: 1em;
    }
    .icones img {
        width: 25vw;
    }
    .versiculo {
        font-size: 1em;
        padding: 5%;
    }
    .nome {
        font-size: 1em;
    }
    .data {
        font-size: 1em;
    }
    #mes,
    #ano {
        font-size: 1em;
    }
    #dia {
        font-size: 2em;
    }
    .saba,
    .h,
    .l {
        font-size: 1em;
    }
    .saba,
    .h {
        width: 70px;
    }
}
