@font-face {
    font-family: 'TheSeasons';
    src: url('fonts/Fontspring-DEMO-theseasons-lt.otf');
}

/* Estilos para dispositivos móveis */
html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #E4A461;
    color: white;
}

::-moz-selection {
    background-color: #E4A461;
    color: white;
}

/* Header */
header {
    display: flex;
    justify-content: center;
}

/* Corpo */
body {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* Versículo */
.versiculo {
    display: flex;
    justify-content: center;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 12px;
    font-weight: 100;
    text-align: center;
}

/* Família */
.familia {
    display: flex;
    justify-content: center;
    gap: 5%;
    padding-bottom: 5%;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 12px;
    font-weight: 100;
}

/* Pais Ana e Matheus */
.paisAna,
.paisMatheus {
    display: flex;
    flex-direction: column;
}

/* Cleide e Paulo */
.cleide,
.paulo,
.libia,
.luciano {
    margin: 0;
    text-align: center;
}

/* Nome */
.nome {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #E4A461;
    padding-bottom: 2%;
    font-size: 18px;
}

/* Ana, Matheus */
.ana,
.matheus {
    margin: 0;
    font-family: 'TheSeasons';
    font-weight: 100;
}

/* e */
.e {
    margin: 0;
    font-weight: 100;
}

/* Data */
.data {
    display: flex;
    justify-content: center;
    gap: 0.5%;
    color: #E4A461;
    padding-bottom: 2%;
}

/* Setembro */
.setembro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Cormorant Garamond', sans-serif;
}

/* id mês ano e dia */
#mes {
    font-size: 20px;
    margin-bottom: 1px;
}

#ano {
    font-size: 20px;
    margin-top: -1px;
}

#dia {
    font-size: 50px;
    margin-top: -15px;
}

/* Sábado e Horas */
.sabado,
.horas {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

/* Saba, L e H */
.saba,
.h,
.l {
    margin-bottom: 0;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

/* saba e h */
.saba,
.h {
    border-top: 1px solid #E4A461;
    border-bottom: 1px solid #E4A461;
    width: 110px;
    text-align: center;
    margin-top: 35px;
}

/* Ícones */
.icones {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-size: 9.5px;
    gap: 1.5%;
    color: #E4A461;
}

/* Local, Presença, Avisos e Presentes */
.local,
.presenca,
.avisos,
.presentes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: 100;
    text-align: center;
}

/* Mídia Query para Telas de 430 x 932 */
@media only screen and (max-width: 430px) and (max-height: 932px) {
    /* Ajustes específicos para telas menores */
    .familia {
        gap: 2%;
    }

    .icones {
        font-size: 8px;
    }
}
